
.social{
	text-align: center;
	display: block;
	position: relative;
	background-color: #0f5687;
	


}
.container-login{
	display: none;

	border: solid #892;
	border-radius: 20px;
	background-color: #812;
	color: #429;
	text-align: center;
}
.container-register{
	display: none;

	border: solid #892;
	
	background-color: #812;
	color: #429;
	text-align: center;
}
.conatainer-forgotten{
	display: none;

	border: solid #892;
	border-radius: 20px;
	background-color: #812;
	color: #429;
	text-align: center;
}
.banner-img{
	height: 100%;
	width: 100%;
	text-align: center;
	left: 20%;
	border: solid #f0a4d3;
}

.container-about{
	display:inline-block;
	text-align: center;
	border: solid #238;

}
.container-experience{
	display:block;
	text-align: center;
	border: solid #238;

}
.container-education{
	display:block;
	text-align: center;
	border: solid #238;

}
.container-skills{
	display:block;
	text-align: center;
	border: solid #238;

}
.container-proyects{
	display-block;
	text-align: center;
	border: solid #238;

}
//*button {
	position: relative;
	display: block;
	left: 100%;
	float: left;
}
button:hover{
	background-color: transparent;
	transition: 0.1;

}*//
button .button-menu{
	background-color: #0f5687;
	border: none;	
}
button img {
	position: relative;
	max-width: 30px;
	max-height: 30px;
border-radius: 50%;
}
.button-menu{
	background-color: transparent;
	border-radius: 50%;
}
.button-img{
	position:absolute;
	display: block;

}
.logo{
	position: relative;
	display: inline-block;
	background-color: black;
	height: 35px;
	height: 35px;
	z-index: 5;
}
.about-img{
	position: relative;
	display: inline-block;
	right: 40%;
}

.perfil{
	position: relative;
	display: inline-block;
	max-height: 100px;
	max-width: 100px;
	border: solid #24ff41;
	border-radius: 50%;
	right: 30%;
}
.img-edit{
	position: relative;
	display: inline-block;
	right: 45%;
}
.about-button{
	display: inline-block;
	position: relative;
	left: 40%;
}
.about-experience{
	display: inline-block;
	position: relative;
	left: 40%;
}
.about-education{
	display: inline-block;
	position: relative;
	left: 40%;
}
.about-skills{
	display: inline-block;
	position: relative;
	left: 40%;
}
.about-proyects{
	display: inline-block;
	position: relative;
	left: 40%;
}
