
    <div class="row">
     <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/perfil.jpg" class="img-fluid">
     </div>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" id="about-name">
        <p><b> Nahuel Nicolas</b></p>
        <p><b>Full Stack Developer Jr.</b></p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <span><b>Acerca de mi</b></span>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
            Eos temporibus eum aut rem atque? Assumenda dolore provident error 
            illo ducimus tempora, 
            non perspiciatis! In aliquam voluptas eius iure quae ad.</p>
        <button id="button-add-about" class="btn "> </button>
        <form action="text">
            <input type="text" name="sobre mi" id="about-text" style="display: none;">
        </form>
        <button id="button-erase-about" onclick="mostrar()"></button>
    </div>
    </div>