.row{
    padding: 15px;
    background: radial-gradient(circle, rgba(0,12,140,1) 0%, rgba(77,0,149,1) 35%, rgba(161,17,196,1) 100%);
        
}
#about-name{
    text-align: left;
}
div{
    
    background: transparent;
    color: #ffffff;
   
    text-align: center;
    align-items: center;
}
.img-fluid{
    border: 5px ridge #852035 ;
    border-radius: 50%;
    width: 100%;

}
button {
    background: transparent;
    border: transparent;
}

