
    <div class="row">
     <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/perfil.jpg" class="img-fluid">
     </div>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" id="about-name">
        <p><b> {{person.name}} {{person.lastName}} </b></p>
        <p><b>Full Stack Developer Jr.</b></p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <span><b>Acerca de mi</b></span>
        <p>{{person.descP}} </p>
        <button id="button-edit-about" class="button-edit-about "> <img src="assets/edit.ico" alt=""> </button>
        <form action="text">
            <input type="text" name="sobre mi" id="about-text" style="display: none;">
        </form>
        <button id="button-erase-about" onclick="mostrar()"> <img src="assets/del.ico" alt=""></button>
    </div>
    </div>
    