.row{
    padding: 15px;
    background: linear-gradient(90deg, rgba(210,50,199,1) 0%, rgba(13,12,154,1) 50%, rgba(252,69,251,0.6979385504201681) 100%);;
        
}
#about-name{
    text-align: left;
}
div{
    
    background: transparent;
    color: #ffffff;
   
    text-align: center;
    align-items: center;
}
.img-fluid{
    border: 5px ridge #852035 ;
    border-radius: 50%;
    width: 100%;

}
button {
    background: transparent;
    border: transparent;
}

