>}<div class="container">
    <div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/perfil.jpg" class="img-fluid">
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <p><b> Nahuel Nicolas</b></p>
        <p><b>Full Stack Developer Jr.</b></p>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <span><b>Acerca de mi</b></span>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos temporibus eum aut rem atque? Assumenda dolore provident error illo ducimus tempora, non perspiciatis! In aliquam voluptas eius iure quae ad.</p>
    </div>
    </div>
</div>