<div class="row " style="background: #672067;" >
    <div class="container col-6" style="border: 5px solid #000000 ; border-radius: 10px;" *ngIf="per">
<form (ngSubmit)="onEdit()" novalidate #f="ngForm">
    <div class="form-outline ">
        <label class="form-label" for="nameE">institucion</label>
        <input type="text" id="name" class="form-control" name="name" [(ngModel)]="per.name" required />
        
      </div>
      
      <div class="form-outline">
        <label class="form-label" for="dateI">Fecha de ingreso</label>
        <input type="text" id="lastName" class="form-control" name="lastName" [(ngModel)]="per.lastName" required/>
        
      </div>
      
      <div class="form-outline">
        <label class="form-label" for="dateF">Fecha de egreso</label>
        <input type="text" id="descP" class="form-control" name="descP" [(ngModel)]="per.descP" required />
        
      </div>
      <div class="form-outline">
        <label class="form-label" for="descE">titulo</label>
        <input type="image" id="imgP" class="form-control" name="imgP" [(ngModel)]="per.imgP" required/>
        
      </div>
      <button class="btn btn-primary btn-lg btn-block" type="submit">Update</button>
</form>
        
    </div>
</div>
