<div class="row">
    <div class="register form-fluid" style="display:flexbox">
        <h3>comensamos con su registro</h3>
        <form action="" method="get">
            <input type="text" alt="ingrese usuario">
        </form>
        <form action="password" method="get">
            <input type="password" name="ingrese su contraseña"><br>
            <input type="password" name="ingrese nuevamente su contraseña">
        </form>
        <form action="" method="get">
            <input type="email" name="" id="auto">
        </form>
    </div>
    <div class="button-fluid">
    <button type="submit"> REGISTRARSE </button></div>
</div>
