<div class="row">
    <H1>Experiencia Laboral</H1>
    <div class="col-lg-8"></div>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
    <button id="button-add-about" class="button-add-about "> <img src="assets/add.ico" alt=""> </button>
    <button id="button-erase-about" onclick="mostrar()"> <img src="assets/del.ico" alt=""></button>
</div>
<div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul class="">
            <li>
                <h2>trabajo 1</h2><h3>(years)</h3>
                
            </li>
            <p><b>Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                Ullam molestiae eum aperiam exercitationem repellendus eligendi ipsum totam 
                officia, a, deleniti, dignissimos quia distinctio ea temporibus. 
                Veritatis molestias odit rerum unde?</b></p>
        </ul>
        <ul class="">
            <li>
                <h2>trabajo 2</h2><h3>(years)</h3>
                
            </li>
            <p><b>Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                Ullam molestiae eum aperiam exercitationem repellendus eligendi ipsum totam 
                officia, a, deleniti, dignissimos quia distinctio ea temporibus. 
                Veritatis molestias odit rerum unde?</b></p>
        </ul>
        <ul class="">
            <li>
                <h2>trabajo 3</h2><h3>(years)</h3>
                
            </li>
            <p><b>Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                Ullam molestiae eum aperiam exercitationem repellendus eligendi ipsum totam 
                officia, a, deleniti, dignissimos quia distinctio ea temporibus. 
                Veritatis molestias odit rerum unde?</b></p>
        </ul>
    </div>
</div>
