<div class="row">
    <H1>Experiencia Laboral</H1>
    <div class="col-lg-8"></div>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">

        <button id="button-add-about" type="button" class="button-add" routerLink="/newExperience"> <img
                src="assets/add.ico" alt=""> </button>

    </div>
    <div class="col-lg-1 "></div>
    <div class="col-lg-11">
        <ul class="experience" *ngFor="let Experience of exp">
            <button id="button-edit" class="button-edit " routerLink="/editExperience/{{Experience.id}} "> <img
                    src="assets/edit.ico" alt=""> </button>
            <button id="button-erase" (click)="delete(Experience.id)"> <img src="assets/del.ico" alt=""></button>
            <li>
                <h2>{{Experience.nameE}}</h2>
                <h3>{{Experience.dateI}}-{{Experience.dateF}} </h3>

            </li>
            <p><b>{{Experience.descE}} </b></p>
        </ul>

    </div>
</div>