.row{
    background:#341066 ;
}
h3 {
    color: #563298;
    
}
p{
    color: yellow;
}
  
.row{
   
    border: solid 5px #563298 ;
}
h1{
    text-align: center;
}
.carousel {
    margin: 5%;
    margin-left: 20%;
}