<div class="row">
    <div class="col-sm col-md col-lg">
      <app-logo-ap></app-logo-ap>
    </div>
        <div class="social-fluid col-sm-8 col-md-8 col-lg-8">
           <a href="#!"><img src="../../../assets/face.ico"  id="face"></a>
           <a href="#!"><img src="../../../assets/insta.ico" id="insta"></a>
           <a href="#!"><img src="../../../assets/wh.ico" id="wh"></a>
           <a href="#!"><img src="../../../assets/tw.ico" id="tw"></a>
           <a href="#!"><img src="../../../assets/github.ico" id="git"></a>
           <a href="#!"> <img src="../../../assets/in.ico" id="in"></a>
        </div>
        <div class="col-sm-4 cpl-md-4 col-lg ">
        <button type="button" class="btn btn-primary btn-rounded">Login</button>
        </div>
       
        
  

<div class="img-banner col-lg-12 col-md-12 col-sm-12">
  <img src="https://wallpapercave.com/wp/wp10167060.jpg" id="banner">
</div>
</div>