div {
    background: #341066;

}

#banner {
    width: 100%;
    height: 100%;
    background: #341066;
    margin-top: 0;
}

img {
    width: 10%;
    margin-top: 10%;
    
    }
    .social{
       align-items: flex-end;
    }



button {
    position: absolute;
    right: 0;
    bottom: 90% !important;
    

}
.fluid{
    display:inline-block;
    margin: 10px;
    align-content: center;
  
    
}

   
