.row {
    background: linear-gradient(90deg, rgba(210,50,199,1) 0%, rgba(13,12,154,1) 50%, rgba(252,69,251,0.6979385504201681) 100%);
}

#banner {
    width: 100%;
    height: 100%;
    background: #341066;
    margin: 0;
}

img {
    width: 15%;
    background: transparent;
 
    
    }
   



button {
    position: absolute;
    right: 0;
    bottom: 90% !important;


}
.fluid{
    display:inline-block;
    margin: 10px;
    align-content: center;
    background: transparent;
  
    
}

   
