.row{
    padding: 20px;
    background: linear-gradient(90deg, rgba(210,50,199,1) 0%, rgba(13,12,154,1) 50%, rgba(252,69,251,0.6979385504201681) 100%);    color: #ffffff;
}
button {
    background: transparent;
    border: transparent;
}
h1{
    text-align: center;
}