.row{
    background: linear-gradient(90deg, rgba(210,50,199,1) 0%, rgba(13,12,154,1) 50%, rgba(252,69,251,0.6979385504201681) 100%);    color: #ffffff;
}
ul{
    width: auto;
    border: 5px solid #000;
    border-radius: 10px;
    box-shadow:10px 10px 10px black ;
}

button {
    background: transparent;
    border: transparent;
}
h1, h2, h3{
    text-align: center;
   
}