.row{
    
    background: #341066;
    color: #ffffff;
    text-align: center;
    align-items: center;
 
}
ul{
    width: auto;
    border: 5px solid #000;
    border-radius: 10px;
    box-shadow:10px 10px 10px black ;
}
h2, h3{
    display: inline;
}
button {
    background: transparent;
    border: transparent;
}