<div class="row">
   
        <h2>Hart & Soft Skill</h2>
        <div class="col-lg-8"></div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <button id="button-add-about" class="button-add-about "> <img src="assets/add.ico" alt=""> </button>
        <button id="button-erase-about" onclick="mostrar()"> <img src="assets/del.ico" alt=""></button>
    </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <circle-progress
    
            [percent]="50"
            [radius]="50"
            [title]="'HTML'"
           [showUnits]="false"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="3"
            [outerStrokeColor]="'#ee9900'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="500"
          ></circle-progress>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <circle-progress   
            [percent]="50"
            [radius]="50"
            [title]="'CSS'"
            [showUnits]="false"  
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="3"
            [outerStrokeColor]="'#486213'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"    
            [animationDuration]="500"
            
          ></circle-progress>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <circle-progress
            [percent]="30"
            [radius]="50"
            [title]="'Angular'"
            [showUnits]="false"  
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="3"
            [outerStrokeColor]="'#725322'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="500"
          ></circle-progress>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <circle-progress
            [percent]="50"
            [radius]="50"
            [title]="'JS'"
            [showUnits]="false"  
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="3"
            [outerStrokeColor]="'#652265'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="500"
          ></circle-progress>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <circle-progress
            [percent]="2"
            [radius]="50"
            [title]="'SQL'"
            [showUnits]="false"  
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="3"
            [outerStrokeColor]="'#652265'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="500"
          ></circle-progress>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <circle-progress
            [percent]="15"
            [radius]="50"
            [title]="'Inglish'"
            [showUnits]="false"  
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="3"
            [outerStrokeColor]="'#652265'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="500"
            ></circle-progress>
        </div>




</div>
